@font-face{
	src: url('../fonts/VagWorldBold.ttf') format('truetype');
	font-family: 'VagWorldBold';
}			
			
body h1{
	font-family: VagWorldBold;
	color: yellow;
	font-weight: normal;
	font-size: 40px;
	font-style: italic;
}
span{
	font-size: 30px;
	color: yellow;
	text-decoration: underline;
}

a:hover{
	cursor: pointer, auto;
}
button:hover{
	cursor: pointer, auto;
}	
body{
	background-image: url('../img/bg1.png');
	background-position: center;
	background-size: 100%;
	height: 100%;
	width: 100%;
	background-attachment: fixed;
}
hr{
	border: 2px solid darkorange;
}
h2, h3{
	text-decoration: underline yellow;
}
